.macbook-pro {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.macbook-pro .overlap-group-wrapper {
    background-color: #ffffff;
    width: 1512px;
    height: 982px;
}

.macbook-pro .overlap-group {
    position: relative;
    height: 982px;
    background: linear-gradient(180deg, rgb(214, 158, 229) 0%, rgb(189, 229, 218) 100%);
}

.macbook-pro .rectangle {
    position: absolute;
    width: 703px;
    height: 783px;
    top: 100px;
    left: 404px;
    background-color: #d9d9d9;
    border-radius: 64px;
    backdrop-filter: blur(4px) brightness(100%);
    -webkit-backdrop-filter: blur(4px) brightness(100%);
    mix-blend-mode: multiply;
}

.macbook-pro .img {
    position: absolute;
    width: 410px;
    height: 82px;
    top: 743px;
    left: 551px;
}

.macbook-pro .text-wrapper {
    position: absolute;
    top: 754px;
    left: 675px;
    font-family: "IBM Plex Mono-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 45px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .div {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 653px;
    left: 496px;
    background-color: #d9d9d9;
}

.macbook-pro .text-wrapper-2 {
    position: absolute;
    top: 652px;
    left: 546px;
    font-family: "Ubuntu-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.macbook-pro .text-wrapper-3 {
    position: absolute;
    top: 647px;
    left: 796px;
    font-family: "IBM Plex Mono-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .rectangle-2 {
    position: absolute;
    width: 622px;
    height: 88px;
    top: 363px;
    left: 445px;
    background-color: #d9d9d9;
    border-radius: 64px;
    backdrop-filter: blur(4px) brightness(100%);
    -webkit-backdrop-filter: blur(4px) brightness(100%);
    mix-blend-mode: multiply;
}

.macbook-pro .rectangle-3 {
    position: absolute;
    width: 622px;
    height: 88px;
    top: 521px;
    left: 445px;
    background-color: #d9d9d9;
    border-radius: 64px;
    backdrop-filter: blur(4px) brightness(100%);
    -webkit-backdrop-filter: blur(4px) brightness(100%);
    mix-blend-mode: multiply;
}

.macbook-pro .text-wrapper-4 {
    position: absolute;
    top: 538px;
    left: 496px;
    font-family: "Ubuntu-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .rectangle-4 {
    position: absolute;
    width: 475px;
    height: 115px;
    top: 158px;
    left: 518px;
    background-color: #d9d9d9;
    border-radius: 64px;
    backdrop-filter: blur(4px) brightness(100%);
    -webkit-backdrop-filter: blur(4px) brightness(100%);
    mix-blend-mode: multiply;
}

.macbook-pro .login {
    position: absolute;
    width: 300px;
    top: 168px;
    left: 673px;
    font-family: "Ubuntu-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 70px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .span {
    color: #ffffff;
}

.macbook-pro .text-wrapper-5 {
    color: #000000;
    font-size: 50px;
}

.macbook-pro .text-wrapper-6 {
    position: absolute;
    width: 300px;
    top: 377px;
    left: 496px;
    font-family: "Ubuntu-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
}